/*------------- glasses -------------*/

main {
  min-height: 100vh;
}
.active-shape4 {
  height: max-content;
  box-sizing: border-box;
  outline: none;
  margin: auto;
}
.glass-blocks {
  margin: 0 auto;
  padding: 25px;
  max-width: 1200px;
  text-align: center;
}

.glass {
  height: 1000px;
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 10px 10px 40px #26225881;
  backdrop-filter: blur(1rem);
  display: flex;
}

/*------------- header blocks -------------*/

.active-shape1 {
  box-sizing: border-box;
  outline: none;
  margin: auto;
  position: relative;
}

.header-blocks {
  margin: 0 auto;
  padding: 25px;
  max-width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-block-menu {
  width: 30%;
}

.header-block-menu-ul {
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  color: #fffcf0;
}
.header-block-menu-ul .header-block-menu-li .flower {
  margin-right: 0px;
  line-height: 20px;
}

.header-block-menu-li {
  margin-left: 15px;
  float: left;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .header-block-menu-li:nth-last-child(2) {
    display: none;
  }
  .header-block-menu-li:nth-last-child(1) {
    display: none;
  }
}

.header-block-title {
  cursor: pointer;
  text-align: center;
  width: 40%;
  font-family: "Permanent Marker", cursive;
  color: #fbd14b;
}

.header-sign-menu {
  width: 30%;
}

.header-sign-menu-ul {
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  float: right;
}

.header-sign-menu-ul::after {
  content: "";
  clear: both;
}

.header-sign-menu-ul::after {
  content: "";
  clear: both;
}
@media only screen and (min-width: 600px) {
  .header-sign-menu-ul .header-sign-menu-li .outlined {
    display: none;
  }
}
.header-sign-menu-ul li {
  float: left;
  margin-right: 10px;
  color: #fffcf0;
  /* color: #FBD14B; */
}

.header-sign-menu-ul li:last-child {
  color: #fffcf0;
  background: #262258;
  border-radius: 50%;
  padding: 0px 10px 1px;
  transition: 0.3s;
}
.header-sign-menu-ul li:last-child:hover {
  background: #fbd14b;
  color: #fffcf0;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .header-sign-menu-li:nth-last-child(2) {
    display: none;
  }

  .header-sign-menu-li:nth-last-child(1) {
    display: none;
  }
}

.material-icons-area {
  width: 10%;
}
.material-icons {
  vertical-align: bottom;
  float: right;
  margin-right: 15px;
}

.material-icons .flower {
  vertical-align: bottom;
  float: right;
  margin-right: 15px;
}

.material-icons .person {
  vertical-align: bottom;
  float: left;
  margin-left: 15px;
}

/*------------- question block -------------*/
.active-shape2 {
  box-sizing: border-box;
  outline: none;
  margin: auto;
  position: relative;
}

.question-blocks {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  cursor: pointer;
}
.question-background {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3rem;
  height: 3rem;
  background: #dedcee;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.question-empty {
  width: 10%;
}
.question-text {
  border: none;
  outline: none;
  background: transparent;
  height: 80%;
  width: 80%;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  color: #262258;
  line-height: 3rem;
}
/*------------- imgages block -------------*/
.active-shape3 {
  box-sizing: border-box;
  outline: none;
  margin: auto;
  position: relative;
}
.image-blocks {
  margin: 0 auto;
  padding: 25px;
  max-width: 1200px;
  text-align: center;
  /* align-items: center;
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative; */
}

/*------------- footers block -------------*/
.active-shape4 {
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.footer-blocks {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 15px;
  align-items: top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-block1 {
  width: 30%;
}

.footer-block-menu-ul {
  align-content: flex-end;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  margin-left: 15px;
}

.footer-block-menu-li {
  margin-top: 5px;
  color: #191644;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right top, #a15086, #6a60a9);
}

.circle1,
.circle2 {
  background: #fffcf0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
}
.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 15%;
}

ul,
li.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:link {
  color: #fffcf0;
}
a:visited {
  color: #fffcf0;
}
a:hover {
  color: #fbd14b;
  transition: 0.5s;
}
a:active {
  color: #fbd14b;
  transition: 0.5s;
}
