<section class="active-shape4">
    <div class="footer-blocks">
        <div class="footer-block1">
            <ul class="footer-block-menu-ul">
                <li class="footer-block-menu-li">Terms And Conditions</li>
                <li class="footer-block-menu-li">Cookies And Private</li>
                <li class="footer-block-menu-li">Book Reporting</li>
                <li class="footer-block-menu-li">Tips And Tricks</li>
                <li class="footer-block-menu-li">Facebook</li>
                <li class="footer-block-menu-li">Twitter</li>
                <li class="footer-block-menu-li">Youtube</li>
            </ul>
        </div>
        <!-- <div class="footer-block1">
            <ul class="footer-block-menu-ul">
                <li class="footer-block-menu-li">Cheon Seri</li>
                <li class="footer-block-menu-li">Kim Dongkyu</li>
                <li class="footer-block-menu-li">Park Seyoung</li>
                <li class="footer-block-menu-li">Sim Sekyung</li>
                <li class="footer-block-menu-li">Cho Seokyong</li>
            </ul>
        </div> -->
    </div>
</section>