<div class="active space1">
    <div class="header-blocks">
        <div class="header-block-menu">
            <div class="header-block-menu-ul">
                <ul>
                    <li class="header-block-menu-li"><a href="#">Icon_image</a></li>
                    <li class="header-block-menu-li"><a href="#">Home</a></li>
                    <li class="header-block-menu-li"><a href="#">Books</a></li>
                </ul>
            </div>

        </div>

        <div class="header-block-title" onclick="window.location.href='https://naver.com/';">
            <h1>JASMINE</h1>
        </div>

        <div class="header-sign-menu">
            <ul class="header-sign-menu-ul">
                <li class="header-sign-menu-li">login</li>
                <li class="header-sign-menu-li">Signup</li>
            </ul>
        </div>
    </div>
    <div class="active space2">
        <div class="question-blocks">
            <span class="material-icons"></span>
            <div class="question-text">
                What are you serching for?
            </div>

        </div>
    </div>
</div>