{% extends 'base.html' %}
{% block content %}

<div class="active-shape3">
  <div class="image-blocks">

  </div>

</div>
{% endblock %}

<!-- https://d2lsod3xpjaepj.cloudfront.net/files/assets/2000/1704/crop169/1050.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/140/crops/410.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/141/crops/410.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/142/crops/410.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/143/crops/410.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/144/crops/410.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/297/crops/170.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/145/crops/410.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/148/crops/410.jpg
https://d2lsod3xpjaepj.cloudfront.net/files/assets/1000/149/crops/410.jpg -->